.Container {
    position: relative;
    background: rgba(0, 0, 0, 0.03);
}

.Select {
    background: transparent;
    position: relative;
    z-index: 2;
    padding-right: 48px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.Icon {
    z-index: 1;
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.Empty {
    color: #aaa;
}
