.Canvas {
    overflow: hidden;
}

.Circle {
    cursor: pointer;
    fill: var(--color-primary);
}

.Circle:hover {
    fill: var(--color-primary-hover);
}

.Label {
    fill: #444;
}

.Line {
    stroke-width: 1;
    stroke: #888;
}
