.Box {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Msg {
    word-break: break-word;
}

.Msg + .Btn {
    margin-top: 20px;
}
