.Table {
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.Cell {
    min-width: 48px;
    height: 48px;
    line-height: 48px;
    box-sizing: border-box;
    overflow: hidden;
}

.Cell + .Cell {
    border-left: 1px solid #ddd;
}

.CellText {
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Row {
    display: flex;
    box-sizing: border-box;
}

.Row + .Row {
    border-top: 1px solid #ddd;
}

.RowHeader {
    background: #eee;
}

.RowSelected {
    background: rgba(144, 103, 235, 0.2);
}

.Empty {
    background: rgba(0, 0, 0, 0.03);
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #888;
}
